<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFPV1WnjRKwj9WST7RaWtzkfJuSM9Fhuk</string>
	<key>GCM_SENDER_ID</key>
	<string>1064986816082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dohans.admin</string>
	<key>PROJECT_ID</key>
	<string>dohans-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>dohans-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064986816082:ios:dc68178d3d4b45cdaab98b</string>
</dict>
</plist>